/DiaSemana.class
/DistribuicaoAutomatica.class
/Horario.class
/Professor.class
/ProfessorTableModel.class
/Sala.class
/SalaTableModel.class
/UnidadeCurricular.class
/UnidadeCurricularTableModel.class
/Dia.class
/DistribuicaoSalas.class
/CargaHorariaENUM.class
